#formation-container{
    /* background-color: rgb(100, 81, 57); */
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "academic"
        "completed"
        "incompleted"
    ;
    grid-gap: 30px;

}
#formation-container h3{
    font-size: 40px;
}
.academic{
    grid-area: academic;
    /* background-color: blue; */
}
.academic p{
    padding: 8px 0;
}
.courses-completed{
    grid-area: completed;
    /* background-color: blueviolet; */
   
}
.courses-completed div{
    margin-top: 25px;
    padding-top: 10px;
}


.incompleted-courses{
    grid-area: incompleted;
    /* background-color: rgb(70, 117, 23); */
}
.courses{
    display: flex;
    flex-direction: column;
    
}
 
.courses span{
    display: flex;
    flex-direction: column;
    text-align: justify;    
}
 .courses span > ul{
    padding: 10px 0 0 30px;
 }