#formation-container{
    /* background-color: rgb(100, 81, 57); */
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas: 
        "academic"
        "completed"
        "incompleted"
    ;
    grid-gap: 30px;

}
.academic{
    grid-area: academic;
    background-color: blue;
}
.courses-completed{
    grid-area: completed;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    
}
.courses-completed div{
    margin-top: 25px;
    padding-top: 10px;
}


.incompleted-courses{
    grid-area: incompleted;
    background-color: rgb(70, 117, 23);
}