#skills-container{
    /* background-color: rgb(40, 62, 82); */
    display: grid;
    grid-gap: 30px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit); */
    grid-template-rows:auto auto;
    grid-template-areas: 
        "basics basics"
        "techs icons"
    ;
    
}

#basic-skills{
    grid-area: basics;
    /* background-color: aqua; */
    
}

.topic-skill{
    font-size: 40px;
}
#basic-skills ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.item-skill{
    padding-bottom: 8px;
}

/*------------------*/ 
#tech-skills{
    grid-area: techs;
}


#tech-skills .item-tech{
    padding-bottom: 12px;
    list-style-type: none;
}

#tech-skills .item-tech ul{
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    align-content: space-between;
   
    padding: 5px 0 10px 50px
}

#tech-skills .item-tech ul li{
    font-size: 22px;
    padding: 5px;
}


#icons-tech{
    grid-area: icons;
    background-color: rgb(105, 105, 37);
}
