body{
    background: rgba(0, 0, 0);

}
#grid-container{
    
}
a{
    text-decoration: none;
}
p, h1, h5, a{
    color: #ffffff;
}
.page{

    background-color: rgba(0, 0, 0, 0.1);
    border: solid  black 1px;
    border-radius: 10px;
    border-style: ridge;
    padding: 30px;
}

#head{
    background-color: rgba(0, 0, 0, 0.99);
    width: 1fr;
}


#menu a{
    font-size: 22px;
    font-weight: 500;
    padding: 3px 6px;
    margin-left: 5px;
}

#menu a:hover{
    padding-bottom: 10px;
    border-bottom: solid 5px #ffffff;
}

.title{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px; 
    text-transform: capitalize; 
    margin-bottom: 28px;
    
}

