#grid-container{
    background: rgb(0, 0, 0);
}
a{
    text-decoration: none;
}
.page{
    background-color: rgb(0, 0, 1);
}
.page h1{
    color: #ffffff;
}

#head{
    background-color: rgb(0, 0, 0, 0.9);
}
#head a{
    color: #ffffff;
}

#menu a{
    font-size: 22px;
    font-weight: 500;
    padding: 3px 6px;
    margin-left: 5px;
}

#menu a:hover{
    padding-bottom: 10px;
    border-bottom: solid 5px #ffffff;
}

#main-text{
    color: #ffffff;
}